@import "tailwindcss";

/* Custom high-end scrollbar experience */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* slate-300 */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* slate-400 */
}

/* Dark layout customized thin scrollbars */
.dark-scroll::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
}
.dark-scroll::-webkit-scrollbar-thumb:hover {
  background: #475569; /* slate-600 */
}

/* Class to completely hide scrollbars but preserve scrolling motion */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
